@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  font-size: calc(100vw / 1920);
}

@media (max-width: 1440px) {
  html {
    font-size: calc(100vw / 1440);
  }
}

@media (max-width: 1024px) {
  html {
    font-size: calc(100vw / 1024);
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 768);
  }
}

@media (max-width: 480px) {
  html {
    font-size: 1px;
  }
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 480px) {
  body {
    min-width: 480px;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    max-width: 480px;
  }
}

